button {
  border-radius: 0;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
}

.add-bug {
  margin: 20px 0 20px 0;
}

.add-bug:hover {
  cursor: pointer;
}

.backlog th {
  background-color: #337ab7;
  color: white;
  cursor: pointer;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
}

.backlog th:hover {
  background-color: #286090;
}

.backlog th i {
  padding: 3px;
  font-weight: bolder;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}