
<div class="row">
  <div class="col-md-12 pt-10 pb-10">
    
    <div class="row">

      <!-- Advanced Search -->
      <div class="col-xs-9">
        <app-advanced-search (initiateAdvancedSearch)="onAdvancedSearchStarted($event)">

        </app-advanced-search>
      </div>
      <!-- /Advanced Search -->

      <!-- Pager -->
      <div class="col-xs-3">
        <app-pager (pageChanged)="onPageChanged($event)" 
                   (pageSizeChanged)="onPageSizeChanged($event)"
                   [page]="page" 
                   [pageSize]="pageSize">
        </app-pager>
      </div>
      <!-- /Pager -->

    </div>


  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped backlog blue no-borders">
        <thead>
          <tr>
            <th class="vertical-middle text-center">
              <button class="btn btn-success btn-sm" [routerLink]="['/bug-add']">
                  <i class="fa fa-plus text-white"></i>
              </button>
            </th>
            <th class="col-xs-1" (click)="getBugs('priority')" title="Priority">
              <span class="text-center">
                Priority
              </span>
              <i class="pull-right fa" [ngClass]="{'fa-angle-up': isSortAsc && (sortBy == 'priority'),
                             'fa-angle-down': !isSortAsc && (sortBy == 'priority')}">
              </i>
            </th>

            <th class="col-xs-2" (click)="getBugs('title')">
              <span>
                Title
              </span>
              <i class="pull-right fa" [ngClass]="{'fa-angle-up': isSortAsc && (sortBy == 'title'),
                             'fa-angle-down': !isSortAsc && (sortBy == 'title')}">
              </i>
            </th>

            <th class="col-xs-2" (click)="getBugs('description')">
              <span>
                Description
              </span>
              <i class="pull-right fa" [ngClass]="{'fa-angle-up': isSortAsc && (sortBy == 'description'),
                             'fa-angle-down': !isSortAsc && (sortBy == 'description')}">
              </i>
            </th>

            <th class="col-xs-2" (click)="getBugs('reporter')">
              <span>
                Reporter
              </span>
              <i class="pull-right fa" [ngClass]="{'fa-angle-up': isSortAsc && (sortBy == 'reporter'),
                             'fa-angle-down': !isSortAsc && (sortBy == 'reporter')}">
              </i>
            </th>

            <th class="col-xs-1" (click)="getBugs('status')">
              <span>
                Status
              </span>
              <i class="pull-right fa" [ngClass]="{'fa-angle-up': isSortAsc && (sortBy == 'status'),
                             'fa-angle-down': !isSortAsc && (sortBy == 'status')}">
              </i>
            </th>

            <th class="col-xs-2" (click)="getBugs('createdAt')">
              <span>
                Created At
              </span>
              <i class="pull-right fa" [ngClass]="{'fa-angle-up': isSortAsc && (sortBy == 'createdAt'),
                             'fa-angle-down': !isSortAsc && (sortBy == 'createdAt')}">
              </i>
            </th>

            <th class="col-xs-2" (click)="getBugs('updatedAt')">
              <span>
                Updated At
              </span>
              <i class="pull-right fa" [ngClass]="{'fa-angle-up': isSortAsc && (sortBy == 'updatedAt'),
                             'fa-angle-down': !isSortAsc && (sortBy == 'updatedAt')}">
              </i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bug of bugs">
            <td class="col-xs-1 vertical-middle text-center">
              <div class="btn-group">
                <button class="btn btn-default btn-sm" [routerLink]="['/bug-edit',bug.id]">
                  <i class="fa fa-pencil soft-black"></i>
                </button>
                <button class="btn btn-default btn-sm" (click)="removeBug(bug.id)">
                    <i class="fa fa-times soft-black"></i>
                </button>
              </div>
            </td>
            <td class="col-xs-1">{{bug.priority}}</td>
            <td class="col-xs-2">{{bug.title}}</td>
            <td class="col-xs-2">{{bug.description}}</td>
            <td class="col-xs-1">{{bug.reporter}}</td>
            <td class="col-xs-1">{{bug.status}}</td>
            <td class="col-xs-2">{{bug.createdAt | date:'dd/MM/yy, h:mm:ss a'}}</td>
            <td class="col-xs-2">{{bug.updatedAt | date:'dd/MM/yy, h:mm:ss a'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
