<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary add-bug" [routerLink]="'../bug'">New Bug</button>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped backlog">
        <thead>
          <tr>
            <th class="col-xs-1"
                (click)="getBugs('priority')"
                title="Priority">
              <span class="text-center">
                Priority
              </span>
              <i class="pull-right fa"
                 [ngClass]="{'fa-angle-up': isSortAsc && (sortBy == 'priority'),
                             'fa-angle-down': !isSortAsc && (sortBy == 'priority')}">
              </i>
            </th>

            <th class="col-xs-2"
                (click)="getBugs('title')">
              <span>
                Title
              </span>
              <i class="pull-right fa"
                 [ngClass]="{'fa-angle-up': isSortAsc && (sortBy == 'title'),
                             'fa-angle-down': !isSortAsc && (sortBy == 'title')}">
              </i>
            </th>

            <th class="col-xs-2"
                (click)="getBugs('description')">
              <span>
                Description
              </span>
              <i class="pull-right fa"
                 [ngClass]="{'fa-angle-up': isSortAsc && (sortBy == 'description'),
                             'fa-angle-down': !isSortAsc && (sortBy == 'description')}">
              </i>
            </th>

            <th class="col-xs-2"
                (click)="getBugs('reporter')">
              <span>
                Reporter
              </span>
              <i class="pull-right fa"
                 [ngClass]="{'fa-angle-up': isSortAsc && (sortBy == 'reporter'),
                             'fa-angle-down': !isSortAsc && (sortBy == 'reporter')}">
              </i>
            </th>

            <th class="col-xs-1"
                (click)="getBugs('status')">
              <span>
                Status
              </span>
              <i class="pull-right fa"
                 [ngClass]="{'fa-angle-up': isSortAsc && (sortBy == 'status'),
                             'fa-angle-down': !isSortAsc && (sortBy == 'status')}">
              </i>
            </th>

            <th class="col-xs-2"
                (click)="getBugs('createdAt')">
              <span>
                Created At
              </span>
              <i class="pull-right fa"
                 [ngClass]="{'fa-angle-up': isSortAsc && (sortBy == 'createdAt'),
                             'fa-angle-down': !isSortAsc && (sortBy == 'createdAt')}">
              </i>
            </th>

            <th class="col-xs-2"
                (click)="getBugs('updatedAt')">
              <span>
                Updated At
              </span>
              <i class="pull-right fa"
                 [ngClass]="{'fa-angle-up': isSortAsc && (sortBy == 'updatedAt'),
                             'fa-angle-down': !isSortAsc && (sortBy == 'updatedAt')}">
              </i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bug of bugs">
            <td class="col-xs-1">{{bug.priority}}</td>
            <td class="col-xs-2">{{bug.title}}</td>
            <td class="col-xs-2">{{bug.description}}</td>
            <td class="col-xs-2">{{bug.reporter}}</td>
            <td class="col-xs-1">{{bug.status}}</td>
            <td class="col-xs-2">{{bug.createdAt | date:'dd/MM/yy, h:mm:ss a'}}</td>
            <td class="col-xs-2">{{bug.updatedAt | date:'dd/MM/yy, h:mm:ss a'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
