button {
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
}

.submitBug {
  margin-left: 10px;
}

.form-body {
  float: left;
  width: 100%;
}

.mt-25 {
  margin-top: 25px;
}

.btn,
.form-control {
  border-radius: 0;
}

