<div class="row">
  <div class="col-xs-12">
    <ngb-tabset>

      <ngb-tab class="active">
        <ng-template ngbTabTitle >
          <b>Report Bug</b>
        </ng-template>
        <ng-template ngbTabContent>

          <form class="form" [formGroup]="bugForm" [class.was-validated]="bugForm.invalid && bugForm.dirty">
            <div class="form-body mt-25">
              <div class="row">
                <div class="form-group col-xs-12" [ngClass]="{'has-error': titleFormControlErrorMessage}">
                  <label class="form-control-label">Title :</label>
                  <input class="form-control" type="text" formControlName="title" name="title" [(ngModel)]="model.title">
                  <div *ngIf="titleFormControlErrorMessage" class="invalid-feedback">
                    {{titleFormControlErrorMessage}}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-xs-12" [ngClass]="{'has-error': descriptionFormControlErrorMessage}">
                  <label class="form-control-label">Description :</label>
                  <textarea class="form-control" name="description" formControlName="description" required rows="5" [(ngModel)]="model.description"></textarea>
                  <div *ngIf="descriptionFormControlErrorMessage" class="invalid-feedback">
                    {{descriptionFormControlErrorMessage}}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-xs-12 col-md-4" [ngClass]="{'has-error': priorityFormControlErrorMessage}">
                  <label class="form-control-label">Priority :</label>
                  <select class="form-control" name="priority" formControlName="priority" [(ngModel)]="model.priority">
                    <option [ngValue]="null"></option>
                    <option *ngFor="let priority of priorityOptions">
                      {{priority}}
                    </option>
                  </select>
                  <div *ngIf="priorityFormControlErrorMessage" class="invalid-feedback">
                    {{priorityFormControlErrorMessage}}
                  </div>
                </div>

                <div class="form-group col-xs-12 col-md-4" [ngClass]="{'has-error': reporterFormControlErrorMessage}">
                  <label class="form-control-label">Reporter :</label>
                  <br/>
                  <select class="form-control" name="reporter" formControlName="reporter" [(ngModel)]="model.reporter">
                    <option [ngValue]="null"></option>
                    <option *ngFor="let reporter of reporterOptions">
                      {{reporter}}
                    </option>
                  </select>
                  <div *ngIf="reporterFormControlErrorMessage" class="invalid-feedback">
                    {{reporterFormControlErrorMessage}}
                  </div>
                </div>

                <div class="form-group col-xs-12 col-md-4" [ngClass]="{'has-error': statusFormControlErrorMessage}">
                  <label class="form-control-label">Status :</label>
                  <br/>
                  <select class="form-control" name="status" formControlName="status" [(ngModel)]="model.status">
                    <option [ngValue]="null"></option>
                    <option *ngFor="let status of statusOptions">
                      {{status}}
                    </option>
                  </select>
                  <div *ngIf="statusFormControlErrorMessage" class="invalid-feedback">
                    {{statusFormControlErrorMessage}}
                  </div>
                </div>
              </div>
            </div>
          </form>

        </ng-template>
      </ngb-tab>

      <ngb-tab>
        <ng-template ngbTabTitle>
          <b>Comments</b> <span class="badge badge-light"> {{model?.comments?.length}}</span>
        </ng-template>
        <ng-template ngbTabContent>

          <div class="row mt-25" *ngIf="model.comments.length > 0">
            <div class="col-xs-12">
              <app-comments [comments]="model.comments"></app-comments>
            </div>
          </div>

          <form class="form" [formGroup]="commentForm">
            <div class="form-body mt-25">
              <div class="row">
                <div class="form-group col-xs-12">
                  <label class="form-control-label">Reporter Name :</label>
                  <input class="form-control" type="text" formControlName="commentReporter" name="commentReporter" [(ngModel)]="comment.reporter">
                </div>
              </div>

              <div class="row">
                <div class="form-group col-xs-12">
                  <label class="form-control-label">Comment :</label>
                  <textarea class="form-control" formControlName="commentDescription" rows="5" name="commentDescription" [(ngModel)]="comment.description"></textarea>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-primary pull-right" (click)="addComment()">
                    <i class="fa fa-plus"></i>
                    Add Comment
                  </button>
                </div>
              </div>

            </div>
          </form>

        </ng-template>
      </ngb-tab>

    </ngb-tabset>

    <div class="form-footer mt-25">
      <button class="btn btn-success pull-right submitBug"
              (click)="formSubmit(bugForm, commentForm)">
        Submit
      </button>

      <button class="btn btn-default pull-right"
              (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</div>
