<form class="form"
      (submit)="formSubmit(bugForm)"
      [formGroup]="bugForm"
      [class.was-validated]="bugForm.invalid && bugForm.dirty">

  <div class="form-header">
    <header>
      <h4>New Bug</h4>
    </header>
  </div>

  <div class="form-body">

    <div class="row">
      <div class="form-group col-xs-12"
           [ngClass]="{'has-error': titleFormControlErrorMessage}">
        <label class="form-control-label">Title</label>
        <input class="form-control"
               type="text"
               formControlName="title"
               name="title"
               [(ngModel)]="model.title">
        <div *ngIf="titleFormControlErrorMessage" class="invalid-feedback">
          {{titleFormControlErrorMessage}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-12"
           [ngClass]="{'has-error': descriptionFormControlErrorMessage}">
        <label class="form-control-label">Description</label>
        <textarea class="form-control"
                  name="description"
                  formControlName="description"
                  required
                  rows="5"
                  [(ngModel)]="model.description"></textarea>
        <div *ngIf="descriptionFormControlErrorMessage" class="invalid-feedback">
          {{descriptionFormControlErrorMessage}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-12 col-md-4"
           [ngClass]="{'has-error': priorityFormControlErrorMessage}">
        <label class="form-control-label">Priority</label>
        <select class="form-control"
                name="priority"
                formControlName="priority"
                [(ngModel)]="model.priority">
          <option [ngValue]="null"></option>
          <option *ngFor="let priority of priorityOptions">
            {{priority}}
          </option>
        </select>
        <div *ngIf="priorityFormControlErrorMessage" class="invalid-feedback">
          {{priorityFormControlErrorMessage}}
        </div>
      </div>

      <div class="form-group col-xs-12 col-md-4"
           [ngClass]="{'has-error': reporterFormControlErrorMessage}">
        <label class="form-control-label">Reporter</label>
        <br/>
        <select class="form-control"
                name="reporter"
                formControlName="reporter"
                [(ngModel)]="model.reporter">
          <option [ngValue]="null"></option>
          <option *ngFor="let reporter of reporterOptions">
            {{reporter}}
          </option>
        </select>
        <div *ngIf="reporterFormControlErrorMessage" class="invalid-feedback">
          {{reporterFormControlErrorMessage}}
        </div>
      </div>

      <div class="form-group col-xs-12 col-md-4"
           [ngClass]="{'has-error': statusFormControlErrorMessage}">
        <label class="form-control-label">Status</label>
        <br/>
        <select class="form-control"
                name="status"
                formControlName="status"
                [(ngModel)]="model.status">
          <option [ngValue]="null"></option>
          <option *ngFor="let status of statusOptions">
            {{status}}
          </option>
        </select>
        <div *ngIf="statusFormControlErrorMessage" class="invalid-feedback">
          {{statusFormControlErrorMessage}}
        </div>
      </div>
    </div>

  </div>

  <div class="form-footer">
    <button class="btn btn-success pull-right submitBug"
            [disabled]="!bugForm.valid"
            type="submit">
            Submit
    </button>

    <button class="btn btn-default pull-right"
            (click)="cancel()">
            Cancel
    </button>
  </div>

</form>
